html, body{
	font-size:18px;
	color: #dfdfdf;
	background-color: #063647; 
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	transition-timing-function: ease-in;
	background: #063647;
}

.section-2 {
	background-color: #052D3D;
}

.section-3 {
	transition-timing-function: ease-in;
	background-color: #0E282E;
}

.section-4 {
	background-color: #063647;
	padding: 1.0rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 1rem;
}

.social-container img{
	max-width:75%;
	max-height:50px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 2rem auto;
	max-height: 450px;
	max-width: 450px;
}

.project-text {
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}

.grid-container {
	display: grid;
	justify-content: space-evenly;
}
.grid-item{
	grid-auto-columns: 40%;
}
.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: left;
	margin-bottom: 1rem;
}

.title1 {
	font-size: 36px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	margin-bottom: 1rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
